{% extends 'templade.html' %}

{% block body %}

<div class="content">
  <div class="row">
        <div class="col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-title">Grafico de  Temperatura </h5>
                  <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

                        <canvas id="chartjs-0" class="card"></canvas>
                        <script>
                        new Chart(document.getElementById("chartjs-0"),
                            {
                                "type": "line", "data": {
                                    "labels": ["{{ tempdat.1 }}", "{{ tempdat.2 }}", "{{ tempdat.3 }}", "{{ tempdat.4 }}"],
                                    "datasets": [{
                                        "label": "Grafico do Sensor DHT22 Temperatura estação IFTO",
                                        "data": ["{{ tempval.1 }}","{{ tempval.2 }}","{{ tempval.3 }}","{{ tempval.4 }}"],
                                        "fill": false,
                                        "borderColor": "rgb(75, 192, 192)",
                                        "lineTension": 0.1
                                    }]
                                }, "options": {}
                            });
                        </script>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons">Sensor DHT22 | Estação IFTO</i>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-6">
            <div class="card card-chart">
              <div class="card-header">
               <h5 class="card-title">Grafico de Umidade Relativa</h5>
                  <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div>
                <div class="card-body">
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

                    <div class="chart-area" >

                    <canvas id="chartjs-1" class="card" ></canvas>
                    <script>
                    new Chart(document.getElementById("chartjs-1"),
                        {
                            "type": "line", "data": {
                                "labels": ["{{ umidat.1 }}", "{{ umidat.2 }}", "{{ umidat.3 }}", "{{ umidat.4 }}"],
                                "datasets": [{
                                    "label": "Grafico do Sensor DHT22 Umidade estação IFTO",
                                    "data": ["{{ umival.1 }}","{{ umival.2 }}","{{ umival.3 }}","{{ umival.4 }}"],
                                    "fill": false,
                                    "borderColor": "rgb(75, 192, 192)",
                                    "lineTension": 0.1
                                }]
                            }, "options": {}
                        });
                    </script>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons">Sensor DHT22 |Estação IFTO</i>
                </div>
              </div>
            </div>
          </div>
          </div>
        <div class="col-md-6 ">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-title">Grafico de  Raios Ultra Violetas </h5>
                  <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

                        <canvas id="chartjs-3" class="card"></canvas>
                        <script>
                        new Chart(document.getElementById("chartjs-3"),
                            {
                                "type": "line", "data": {
                                    "labels": ["{{ uvmdat.1 }}", "{{ uvmdat.2 }}", "{{ uvmdat.3 }}", "{{ uvmdat.4 }}"],
                                    "datasets": [{
                                        "label": "Grafico do Sensor DHT22 Temperatura estação IFTO",
                                        "data": ["{{ uvmval.1 }}","{{ uvmval.2 }}","{{ uvmval.3 }}","{{ uvmval.4 }}"],
                                        "fill": false,
                                        "borderColor": "rgb(75, 192, 192)",
                                        "lineTension": 0.1
                                    }]
                                }, "options": {}
                            });
                        </script>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons">Sensor UVM-30A | Estação IFTO</i>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-6">
            <div class="card card-chart">
              <div class="card-header">
               <h5 class="card-title">Grafico de Pluviosidade</h5>
                  <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div>
                <div class="card-body">
                <div class="chart-area" >
                    <canvas id="chartjs-4" class="card"></canvas>
                    <script>
                    new Chart(document.getElementById("chartjs-4"),
                        {
                            "type": "line", "data": {
                                "labels": ["{{ pludat.1 }}", "{{ pludat.2 }}", "{{ pludat.3 }}", "{{ pludat.4 }}"],
                                "datasets": [{
                                    "label": "Grafico do Sensor DHT22 Umidade estação IFTO",
                                    "data": ["{{ pluval.1 }}","{{ pluval.2 }}","{{ pluval.3 }}","{{ pluval.4 }}"],
                                    "fill": false,
                                    "borderColor": "rgb(75, 192, 192)",
                                    "lineTension": 0.1
                                }]
                            }, "options": {}
                        });
                    </script>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons">Sensor 9SS18 |Estação IFTO</i>
                </div>
              </div>
            </div>
          </div>
          </div>
        <div class="col-md-6 ">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-title">Grafico de  Gás Carbonico </h5>
                  <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

                        <canvas id="chartjs-5" class="card"></canvas>
                        <script>
                        new Chart(document.getElementById("chartjs-5"),
                            {
                                "type": "line", "data": {
                                    "labels": ["{{ co2dat.1 }}", "{{ co2dat.2 }}", "{{ co2dat.3 }}", "{{ co2dat.4 }}"],
                                    "datasets": [{
                                        "label": "Grafico do Sensor DHT22 Temperatura estação IFTO",
                                        "data": ["{{ co2val.1 }}","{{ co2val.2 }}","{{ co2val.3 }}","{{ co2val.4 }}"],
                                        "fill": false,
                                        "borderColor": "rgb(75, 192, 192)",
                                        "lineTension": 0.1
                                    }]
                                }, "options": {}
                            });
                        </script>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons">Sensor MQ7 | Estação IFTO</i>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-6">
            <div class="card card-chart">
              <div class="card-header">
               <h5 class="card-title">Grafico de Gases Toxicos</h5>
                  <div class="dropdown">
                  <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                  </div>
                </div>
                <div class="card-body">
                <div class="chart-area" >
                    <canvas id="chartjs-6" class="card" ></canvas>
                    <script>
                    new Chart(document.getElementById("chartjs-6"),
                        {
                            "type": "line", "data": {
                                "labels": ["{{ toxdat.1 }}", "{{ toxdat.2 }}", "{{ toxdat.3 }}", "{{ toxdat.4 }}"],
                                "datasets": [{
                                    "label": "Grafico do Sensor DHT22 Umidade estação IFTO",
                                    "data": ["{{ toxval.1 }}","{{ toxval.2 }}","{{ toxval.3 }}","{{ toxval.4 }}"],
                                    "fill": false,
                                    "borderColor": "rgb(75, 192, 192)",
                                    "lineTension": 0.1
                                }]
                            }, "options": {}
                        });
                    </script>
                    <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
                </div>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="now-ui-icons">Sensor MQ135 |Estação IFTO</i>
                </div>
              </div>
            </div>
          </div>
          </div>
  </div>
</div>

{% endblock %}